<header>
	<h1>All Events</h1>

	<ul class = "actions">
		<li><%= link_to "Back to Dashboard", admin_root_path, class: "ibtn" %></li>
	</ul>
</header>



<table class="table table-striped table-responsive">
	<thead>
		<tr>
			<th>Title</th>
			<th>Venue</th>
			<th>Created</th>
			<th>Number Attendees</th>
			<th>Status</th>
			<th colspan="3"></th>
		</tr>
	</thead>


	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.title %></td>
				<td><%= event.venue%></td>
				<td><%= time_format(event.created_at) %></td>
				<td><%= event.attendees.count %></td>
				<td><%= event_status(event) %></td>
				<td>
					<%= link_to "View", event_path(event) %> |
					<%= link_to "Edit", edit_event_path(event) %> |
					<%= link_to "Delete", event_path(event), method: :delete, data: {confirm: "Are you sure you want to delete this event"} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>