<header>
	<h1>Order <%= @order.id %></h1>

	<ul class = "actions">
		<li><%= link_to "Back to Orders", admin_orders_path, class: "ibtn" %></li>
	</ul>
</header>


<table class="table table-striped table-responsive">
	<thead>
		<tr>
			<th>Ticket Name</th>
			<th>Price</th>
			<th>Sku</th>
			<th colspan="3">Ticket Code</th>
		</tr>
	</thead>

	<!-- Each ticket's order_item details-->
	<tbody>
		<% @order_items.each do |order_item| %>
			<% order_item.coupons.each do |coupon| %>
				<tr>
					<td><%= order_item.ticket.name %></td>
					<td><%= order_item.ticket.price %></td>
					<td><%= (order_item.ticket.sku).upcase %></td>
					<td><%= (coupon.code).upcase %></td>
				</tr>
			<% end %>
		<% end %>
		<td><strong><h3>Total: <%= @order.subtotal %></h3></strong></td>
	</tbody>
</table>
