<header>
	<h1>Order <%= @order.id %></h1>

	<ul class = "actions">
		<li><%= link_to "Back to Orders", admin_orders_path, class: "ibtn" %></li>
	</ul>
</header>


<table class="table table-striped table-responsive">
	<thead>
		<tr>
			<th>Ticket Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Sub-Total</th>
			<th>Status</th>
			<th colspan="3"></th>
		</tr>
	</thead>


	<tbody>
		<% @order_item.each do |order_item| %>
			<tr>
				<td><%= order_item.ticket.name %></td>
				<td><%= order_item.ticket.price %></td>
				<td><%=order_item.quantity %></td>
				<td><%= order_item.total %></td>
				<td><%= "#" %></td>
			</tr>
		<% end %>
		<td><strong><h3>Total: <%= @order.subtotal %></h3></strong></td>
	</tbody>
</table>
