<header>
	<h1 id="show-title"><%= @event.title %></h1> <h3>Attendance List</h3>

	<ul class="actions">
		<li><%= link_to "Download PDF", event_attendance_path(@event, format: :pdf), target: "_blank", class: "btn btn-success"%></li>
		<li><%= link_to "Back", user_path, class: "btn btn-default" %></li>
	</ul>
</header>


<!-- Display available attendees for that event-->
<%if @event.attendees.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Registered Date</th>
				<% if @event.coupons.any? %>
					<th>Ticket Purchased</th>
					<th>Ticket Code</th>
					<th>Ticket Price</th>
				<% end %>
			</tr>
		</thead>

		<!--Display attendees for events without tickets/coupons--> 	
		<% unless @paid_attendees.any? %>
			<tbody>
				<% @free_attendees.each do |user| %>
					<tr>
						<td><%= user.full_name %></td>
						<td><%= user.email %></td>
						<td><%= time_format(user.created_at) %></td>
					</tr>
				<% end %>
			</tbody>

			<!-- will_pagination with bootstrap styling -->
			<div class="text-center">
				<%= will_paginate @free_attendees %>
			</div>
		<% end %>

		<!--Display attendees for events with tickets/coupons-->
		<tbody>
			<% @paid_attendees.each do |coupon| %>
				<tr>
					<td><%= coupon.user.full_name %></td>
					<td><%= coupon.user.email %></td>
					<td><%= time_format(coupon.created_at) %></td>
					<td><%= coupon.ticket.name %></td>
					<td><%= (coupon.code).upcase %></td>
					<td><%= coupon.ticket.price %></td>
				</tr>
			<% end %>
			
			<!-- Display income report and number of attendees or registrants for the event -->
			<% if @paid_attendees.any? %>
				<div class="attendance-details">
					<strong>Total Sales</strong> -GH<%= ghana_cedi(@total_sales) %><br>
					<span class="label label-danger">Commision: 5%</span><br><br>
					<strong>Total Income</strong>: GH<%= ghana_cedi(total_income(@total_sales)) %><br><br>
					

					<div class="pull-right"><span class="label label-primary"><%= pluralize(@paid_attendees.count, "Registration")%></span></div>
				</div>
			<% else %>
				<span class="label label-danger">Free Event</span><br><br>
				<div class="pull-right"><span class="label label-primary"><%= pluralize(@free_attendees.count, "Registration") %></span></div>
			<% end %>
			<!--end-->

		</tbody>
	</table>
	
<% else%>
	<p>Sorry! This event has no attendees yet...</p>
<% end %>

<!-- will_pagination with bootstrap styling -->
<div class="text-center">
	<%= will_paginate @paid_attendees %>
</div>