<header>
	<h1 id="show-title"><%= @event.title %></h1> <h3>Attendance Status</h3>

	<ul class="actions">
		<li><%= link_to "Back", user_path, class: "btn btn-default" %></li>
	</ul>
</header>

<!--This is for organized events -->

<% if @event.attendees.any? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Registered</th>
				<th>Ticket Purchased</th>
				<th colspan="3">Ticket Code</th>
			</tr>
		</thead>

		<tbody>
			<% @event.attendees.reverse.each do |user| %>
				<% user.orders.each do |order| %>
					<% order.order_items.each do |order_item| %>
						<% if order.subtotal > 0 %>
							<tr>
								<td><%= user.full_name %></td>
								<td><%= user.email %></td>
								<td><%= time_format(user.created_at) %></td>
								<td><%= order.subtotal %></td>
								<td>
									<% order_item.ticket.coupons.each do |coupon| %>
										<%= coupon.code %>
									<% end %>
								</td>	
							</tr>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% else%>
	<p>Sorry! This event has no attendees yet...</p>
<% end %>